<div class="card-offer col-10 col-md-3 col-lg- p-0 m-3">

    <% if offer.photo.attached? %>
      <div class="card-offer-img" style="background: url(<%= url_for(offer.photo) %>);">
        <% if offer.user == current_user && params[:controller] == 'pages' %>
          <%= link_to offer_path(offer), method: :delete, class: "card-btn-delete float-right m-2" do %>
            <%= cl_image_tag 'https://res.cloudinary.com/kyulol/image/upload/v1597949378/delete-cross_unytdj.svg', class:"delete-icon" %>
          <% end %> 
        <% end %>
        <p class="rounded-form px-3 py-1 card-btn-category text-white"><%= offer.category %></p>
      </div>
    <% else %>
      <div class="card-offer-img" style="background: url(https://picsum.photos/1000/600);">
        <p class="rounded-form px-3 py-1 card-btn-category text-white"><%= offer.category %></p>
      </div>
    <% end %>

    <div class="card-offer-body bg-white p-4">
      <h5><%= offer.title %></h5>
      <div class="d-flex justify-content-between">
        
        <span><%= offer.price %> €</span>
      </div>
      <span><%= offer.date %></span>
    </div>
    <% if offer.user == current_user && params[:controller] == 'pages' %>
      <div class="card-footer bg-white border-0 d-flex justify-content-around px-0 py-3">
            <%= link_to "Show offer", offer_path(offer), class: "rounded-form px-3 py-1 btn card-btn-show" %>
            <%= link_to "Edit offer", edit_offer_path(offer), class: "rounded-form px-3 py-1 btn card-btn-edit" %>
      </div>
    <% end %>
  </div>