<div class="container-fluid p-0">

  <%# BANNER %>
  <div class="banner-home bg-success d-flex flex-column justify-content-center align-items-center">
    <div class="container mb-5">
      <h1 class="text-white">Voyagez et découvrez les traditions culinaires locales, comme si vous étiez chez vous.</h1>
    </div>
    <div class="container d-flex justify-content-center">

      <%# searchbar on desktop %>
      <div class="container-search-bar col-8 bg-white d-none d-md-flex px-2 justify-content-center">
        <%# <form action="/offers" method="get">
          <div class="input-group d-flex align-items-center">
            <div class="input-group-prepend d-flex align-items-center">
              <input class="form-control border-right-0" id="whereNext" type="search" placeholder="Where to next ?" aria-label="Search">
              <label for="whereNext" class="d-flex align-items-center m-0"><i class="fal fa-search icons-in-search-bar border-top border-bottom border-right-0 border-left-0 pr-2"></i></label>
            </div>
              
            <input class="form-control border-right-0" value="?" id="arrival" type="date" placeholder="Arrival" aria-label="date">
            
            <input class="form-control border-right-0" type="date" id="departure" placeholder="Departure" aria-label="date">
                      
            <div class="input-group-append"> %>
              <%#= link_to "See our offers !", offers_path, class:"btn btn-outline-secondary border btn-search-bar", id: "btn-search-bar" %>
            <%# </div>
          </div>
        </form>         %>

        <div class="m-0 search-home">
          <%= form_tag offers_path, method: :get do %>
            <div class="d-flex ">
              <%= text_field_tag :query,
                params[:query],
                class: "form-control mt-1",
                placeholder: "Trouver un hôte",
                id:"test-label"
              %>
              <label for="test-label" class="d-flex align-items-center m-0 p-0 label-test"><i class="fal fa-search other-test"></i></label>
            </div>
            <%= date_field_tag :start_date,
              params[:start_date]
            %>
            <%= date_field_tag :end_date,
              params[:end_date]
            %>
            <%= submit_tag "Rechercher", class: "btn btn-warning m-1 btn-submit" %>
          <% end %>
        </div>
      </div>

      <%# searchbar on responsive %>
      <div class="container-search-bar bg-white rounded pt-3 d-flex flex-column justify-content-center d-md-none align-items-center">
        <form>
          <div class="input-group mb-3">
            <input type="date" class="form-control search-left" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <input type="date" class="form-control search-right" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <input type="search" class="form-control search-left" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <%= link_to "See offers", offers_path, class:"btn btn-outline-secondary border btn-search-bar", id: "btn-search-bar" %>
            </div>
          </div>
        </form>

      </div>


    </div>
  </div>

  <h2 class="text-center bold my-5"> Célébrez la diversité</h2>
  <div class="container d-flex justify-content-center my-5 flex-wrap">
  
    <div class="card-home col-10 col-lg-5 m-4 p-0 bg-white shadow-sm">
    <div class="bg-img-card-home asia"></div>
      <div class="card-home-body border p-4 text-center">
        <h5 class="my-3"><strong>Du fait maison</strong></h5>
        <p>Rien de plus authentique qu'une cuisine concoctée par des gens désireux de partager leur culture. Découvrez des plats traditionnels qu'aucun restaurant ne vous proposera. </p>
      </div>
    </div>
    <div class="card-home col-10 col-lg-5 m-4 p-0 bg-white shadow-sm">
    <div class="bg-img-card-home italia"></div>
      <div class="card-home-body border p-4 text-center">
        <h5 class="my-3"><strong>Du partage</strong></h5>
        <p>Créez des liens autour d'une table, dans une ambiance qui vous rappellera avec nostalgie vos repas de famille.</p>
      </div>
    </div>
  </div>
</div>
