<h1>Offers#edit</h1>
<p>Find me in app/views/offers/edit.html.erb</p>

<%= simple_form_for [ @offer ] do |f| %>
  <%= f.input :title %>  
  <%= f.input :price %>
  <%= f.input :category, collection: Offer::CATEGORIES %>
  <%= f.input :description %>
  <%= f.input :date %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Edit offer", class: "btn btn-primary" %>
<% end %>
