<div id="new">
  <h1 id="add-offer">Ajouter une offre</h1>

  <%= simple_form_for @offer do |f| %>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :category, collection: Offer::CATEGORIES %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, value: 'Créer mon offre', id: 'submit-color' %>
  <% end %>
</div>
