<div class="container">
  <h1>Ajouter une offre</h1>

  <%= simple_form_for @offer do |f| %>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :category, collection: Offer::CATEGORIES %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.button :submit, value: 'Créer mon offre', class: 'submit-color' %>
  <% end %>
</div>
