<div class="container-fluid row justify-content-lg-center px-4 pt-4">
  <div class="square col-5">
    <% if @offer.photo.attached? %>
      <%= cl_image_tag @offer.photo.key, crop: :fill, class: "shadow-lg p-3 mb-5 w-100 card-offer-img-big" %>
    <% else %>
      <img class="circle shadow-lg mb-3 img-fluid" src="https://images.unsplash.com/photo-1471478108131-9b2335c21611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="italian food">
    <% end %>
  </div>
  <div class="col-5">
  <div class="pt-4 d-flex justify-content-between align-items-center">
    <h1 class="m-0" style="font-family: 'Playball', cursive; font-size: 68px;"><%= @offer.title %></h1>
    <img class="rounded-circle" style="width: 75px; height: 75px; object-fit: cover;" src="https://static.skillshare.com/uploads/project/4c49440fec9b45c5464596033e0a23d7/ad168d89" alt="avatar user">
  </div>
  <div class="card pt-1 pb-2 pl-2 m-3 rounded" style="border: none">
    <h4> Proposé par <strong> <%= @user.first_name %> <%= @user.last_name %></strong> </h4>
    <div class="pl-3 py-0 d-flex align-items-center">
      <i class="fas fa-envelope"></i>
      <p class="m-0 pl-2"> <%= @user.email %> </p>
    </div>
    <div class="pl-3 py-0 d-flex align-items-center">
      <i class="fas fa-phone-alt"></i>
      <p class="m-0 pl-2"> <%= @user.phone_number %> </p>
    </div>
    <div class="pl-3 py-0 d-flex align-items-center">
      <i class="fas fa-map-marker-alt"></i>
      <p class="m-0 pl-2"> <%= @user.address %> </p>
    </div>
  </div>
  <div>
    <div class="pl-3 py-4 border-top d-flex align-items-center">
      <i class="fas fa-dollar-sign pr-4" style="font-size: 36px;"></i>
      <div>
        <h5 class="m-0"> <strong> Prix proposé : </strong> </h5>
        <p class="m-0"> <%= @offer.price %> </p>
      </div>
    </div>
    <div class="py-4 border-top d-flex align-items-center">
      <i class="fas fa-tag pr-4" style="font-size: 36px;"></i>
      <div>
        <h5 class="m-0"> <strong> Catégorie : </strong> </h5>
        <p class="m-0"> <%= @offer.category %> </p>
      </div>
    </div>
    <div class="pl-2 py-4 border-top d-flex align-items-center">
      <i class="fas fa-utensils pr-4" style="font-size: 36px;"></i>
      <div>
        <h5 class="m-0"> <strong> Description : </strong> </h5>
        <p class="m-0"> <%= @offer.description %> </p>
      </div>
    </div>
    <div class="pl-2 py-4 border-top d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="fas fa-calendar-alt pr-4" style="font-size: 36px;"></i>
        <div>
          <h5 class="m-0"> <strong> Repas proposé le : </strong> </h5>
          <p class="m-0"> <%= @offer.date %> </p>
        </div>
      </div>

      <%# ajouter la méthode 'Swal.fire' dans un fichier javascipt par la suite %>
      <%# <%= link_to 'Réserver', offer_path(@offer), class:"btn btn-dark btn-lg", data: { confirm: "Votre demande de réservation a bien été envoyée" } %>
      <%= link_to "Réserver", offer_bookings_path(@offer), class:"btn btn-dark btn-lg", method: :post, :onclick => "Swal.fire({
            position: 'middle',
            icon: 'success',
            title: 'Bon appétit ! 😋',
            text: 'Votre demande de confirmation a été envoyée.',
            showConfirmButton: false,
            timer: 1500
          })"	 
          %>
    </div>
  </div>
  </div>
</div>
<div class="container mt-3">
  <div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<%# lien à Sweetalert à ajouter dans un fichier javascipt par la suite %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
