<h1>Offers#show</h1>
<p>Find me in app/views/offers/show.html.erb</p>

<%= @offer.title %>
<br>
<%= @offer.price %>
<br>
<%= @offer.category %>
<br>
<%= @offer.description %>
<br>
<%= @offer.date %>
<br>

<%= link_to "Edit offer", edit_offer_path(@offer) %>
<br>

<%= link_to "Delete offer", offer_path(@offer), method: :delete, data: { confirm: "Are you sure?" } %>
<br>

<%= link_to "Back to Home", offers_path %>

