<div class="container px-4 pt-4">
  <% if @offer.photo.attached? %>
    <%= cl_image_tag @offer.photo.key, crop: :fill, class: "w-100 card-offer-img-big" %>
  <% else %>
    <img class="w-100 circle" src="https://www.englishclub.com/images/vocabulary/food/italian/italian-food-640.jpg" alt="italian food">
  <% end %>
  
  <div class="py-4 d-flex justify-content-between align-items-center">
    <h1 class="m-0" style="font-family: 'Playball', cursive; font-size: 68px;"><%= @offer.title %></h1>
    <img class="rounded-circle" style="width: 75px; height: 75px; object-fit: cover;" src="https://static.skillshare.com/uploads/project/4c49440fec9b45c5464596033e0a23d7/ad168d89" alt="avatar user">
  </div>
  <div class="card pt-1 pb-0 pl-2">
    <h4> Proposé par <strong> <%= @user.first_name %> <%= @user.last_name %></strong> </h4>
    <ul>
      <li> <%= @user.phone_number %> </li> 
      <li> <%= @user.address %> </li>
    </ul>
  </div>
  <div>
    <div class="py-4 border-top d-flex align-items-center">
      <i class="fas fa-dollar-sign pr-4" style="font-size: 36px;"></i>
      <div>
        <p class="m-0"> <strong> Prix proposé : </strong> </p>
        <p class="m-0"> <%= @offer.price %> </p>
      </div>
    </div>
    <div class="py-4 border-top d-flex align-items-center">
      <i class="fas fa-tag pr-4" style="font-size: 36px;"></i>
      <div>
        <p class="m-0"> <strong> Catégorie : </strong> </p>
        <p class="m-0"> <%= @offer.category %> </p>
      </div>
    </div>
    <div class="py-4 border-top d-flex align-items-center">
      <i class="fas fa-utensils pr-4" style="font-size: 36px;"></i>
      <div>
        <p class="m-0"> <strong> Description : </strong> </p>
        <p class="m-0"> <%= @offer.description %> </p>
      </div>
    </div>
    <div class="py-4 border-top d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="fas fa-calendar-alt pr-4" style="font-size: 36px;"></i>
        <div>
          <p class="m-0"> <strong> Repas proposé le : </strong> </p>
          <p class="m-0"> <%= @offer.date %> </p>
        </div>
      </div>
      <%= link_to 'Réserver', offer_path(@offer), class:"btn btn-dark btn-lg", data: { confirm: "Votre demande de réservation a bien été envoyée" } %>
      <button type="button" class="btn btn-dark btn-lg" onclick ="Swal.fire({
          position: 'middle',
          icon: 'success',
          title: 'Bon appétit ! 😋',
          text: 'Votre demande de confirmation a été envoyée.',
          showConfirmButton: false,
          timer: 1500
        })">Réserver</button>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
