<!DOCTYPE html>
<html>
  <head>
    <title>Rbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>R-Bouffe & Bouffe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c25046e4cc.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="d-flex flex-column">
    <%= render  "shared/navbar" %>

    <p class="notice m-0"><%= notice %></p>
    <p class="alert m-0"><%= alert %></p>
    <%= yield %>

    <%= render 'shared/footer' %>
    <%= render 'shared/flashes' %>
  </body>
</html>
